#cv{

    background: lightblue;
    width: 100%;
    height: 1600px;
    color:white;
}

#header{
    background: url("Images/Header.png");
    width: 100%;
    height: 20%;
    border-bottom: solid 2px white;
    text-align: center;

}

#infos{
    font-family: 'Kanit', sans-serif;
    font-style: italic;
    width: 25%;
    top: 7%;
    left:2%;
    font-size: 150%;
    position: absolute;
    background: #1c3465;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    line-height: 100%;
    margin-top:0;

}
#logos{
    font-family: 'Kanit', sans-serif;
    font-style: italic;
    width: 12%;
    top: 10%;
    left: 42.5%;
    font-size: 100%;
    position: absolute;
    background: #1c3465;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    color: white;
    line-height: 150%;
    margin-top:0;
}

#titre {
    font-family: 'Kanit', sans-serif;
    font-style: italic;
    width: 38%;
    top: 10%;
    left: 59.5%;
    font-size: 100%;
    position: absolute;
    background: #1c3465;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    color: white;
    line-height: 150%;
    margin-top: 0;
    font-weight: bolder;
    padding-top: 1%;
    padding-bottom: 1%;
}

#exp{
    display: inline-block;
    margin-top: 0;
    background: url("Images/Code.png");
    position:relative;
    horiz-align: left;
    width: 30%;
    height: 79.8%;
    border-right: solid 2px white;

}
h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    font-size: 25px;
    text-align: left;
    padding-top: 1%;
    margin-left:5%;
    text-decoration: underline darkgray;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-top: 20px;

}

li,ul{
    text-align: left;
    color: white;
    text-shadow: 1px 1px 2px black;


}

ul{
    padding-left: 20%;

}

li{
    font-size: 25px;
    line-height: 30px;
}

.desc{
    list-style-type: none;
}

#middle{
    display: inline-block;
    vertical-align: top;
    width:50%;
}


