#cv{
    text-align: center;
    background: lightblue;
    width: 100%;
    height: 1200px;
    color:white;
}

#header{
    background: url("Images/Header.png");
    width: 100%;
    height: 20%;
    border-bottom: solid 2px white;

}

#infos{
    font-family: 'Kanit', sans-serif;
    font-style: italic;
    width: 25%;
    top: 7%;
    left:2%;
    font-size: 150%;
    position: absolute;
    background: #1c3465;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    line-height: 100%;
    margin-top:0;

}
#logos{
    font-family: 'Kanit', sans-serif;
    font-style: italic;
    width: 12%;
    top: 10%;
    left: 42.5%;
    font-size: 100%;
    position: absolute;
    background: #1c3465;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    color: white;
    line-height: 150%;
    margin-top:0;
}

#titre {
    font-family: 'Kanit', sans-serif;
    font-style: italic;
    width: 38%;
    top: 10%;
    left: 59.5%;
    font-size: 100%;
    position: absolute;
    background: #1c3465;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    color: white;
    line-height: 150%;
    margin-top: 0;
    font-weight: bolder;
}

